doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
    title Connexion
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      span.navbar-brand.mb-0.h1 EasyToDoList
    .jumbotron
      p.lead Bienvenue sur EasyToDoList. Utilisez vos identifiants pour vous connecter. #{message}
      hr.my-4
      form(method='post', action='/')
        .form-group
          label(for='user-mail') Adresse mail
          input#user-mail.form-control(type='email', placeholder='Saisir votre adresse mail', name='mail')
        .form-group
          label(for='user-password') Mot de passe
          input#user-password.form-control(type='password', placeholder='Mot de passe', name='password')
        button.btn.btn-primary.btn-dark(type='submit') Se connecter
        span.d-inline-block.text-truncate(style='max-width: 700px;')
          | Pas encore inscrit ? 
          a(href='create_account') Cliquez ici
          |  ! 
    footer.page-footer.myfooter
      .footer-copyright.text-center.py-3
        | © 2019 Copyright: Projet web - Eddy ABADA - Alain NGUYEN - Dhafer GUESMI - Joël BLANCHET