doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
    title Tableau de bord
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.d-.flex
      span.navbar-brand.mb-0.h1 EasyToDoList
      .container
        span.user_profile
          a(href='/profile') Accéder à votre profil
      form.d-flex
        a(href='/logout') Déconnexion
    .board.d-flex
      .container.colonne_listes
        form#idForm(action='/board', method='post')
          .form-group.ajout-liste.d-flex
            input#listeajout.form-control-sm(type='text', placeholder='Nouvelle liste', name='postValue')
            button.btn.btn-sm.btn-info.btn-ajout-liste#AjoutListeBtn(type='submit') Ajouter
        .list_containers                    
      .container.colonne_taches
        form
          .form-group.ajout-tache.d-flex
            input#tacheajout.form-control-sm(type='text', placeholder='Nouvelle tâche')
            button.btn.btn-sm.btn-info.btn-ajout-tache(type='submit') Ajouter
        .task_containers                    
        
      .colonne_description
        p (nom de la tâche)
        form
          .form-group.ajout-liste.d-inblock
            .lien
              label(for='task-date') Echéance :
              input(type='date')
            textarea.cadre_description(rows='8', placeholder='Description')
            button.btn.btn-sm.btn-info.btn-ajout-desc(type='submit') Sauvegarder
        .lien
          a(href='#') Supprimer la tâche
    footer.page-footer.myfooter
      .footer-copyright.text-center.py-3
        | © 2019 Copyright: Projet web - Eddy ABADA - Alain NGUYEN - Dhafer GUESMI - Joël BLANCHET
    script(src='./front_app.js')
