doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
    title Créer un compte
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.header
      span.navbar-brand.mb-0.h1 EasyToDoList
    .jumbotron
      p.lead
        | Vous n'avez pas de compte chez EasyToDoList ? N'attendez plus et rejoignez nous !
      hr.my-4
      form(method='post' action='create_account/welcome' enctype='multipart/form-data')
        .form-group
          label(for='pseudo') Pseudo
          input#pseudo.form-control(type='text', placeholder='Saisissez votre pseudo', name='pseudo')
        .form-group
          label(for='mail') Adresse mail
          input#mail.form-control(type='email', placeholder='Choisissez votre adresse mail' name='mail')
          small#MailHelpBlock.form-text.text-muted
            | N'oubliez pas que vos identifiants de connexion sont strictements personnels.
        .form-group
          label(for='password') Mot de passe
          input#password.form-control(type='password', placeholder='Choisissez votre mot de passe' name='password')
          small#passwordHelpBlock.form-text.text-muted
            | Votre mot de passe doit contenir au minimum 6 caractères dont une majuscule.
        .form-group
          label(for='birthdate') Quel est votre date de naissance ?
          input(type='date', name='birthdate')
        .form-group
          label(for='avatar') Choisir votre avatar
          input#avatar.form-control-file(type='file' name='avatar' accept='image/png, image/jpeg' enctype='multipart/form-data')
        button.btn.btn-primary.btn-dark(type='submit' value='submit') S'inscrire
    footer.page-footer.myfooter
      .footer-copyright.text-center.py-3
        | © 2019 Copyright: Projet web - Eddy ABADA - Alain NGUYEN - Dhafer GUESMI - Joël BLANCHET