doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
    title Profil
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.d-.flex
      span.navbar-brand.mb-0.h1 EasyToDoList
      .container
        span.user_profile
          a(href='/board') Accéder à votre todolist
      .d-flex
        a(href='/logout') Déconnexion
    .jumbotron
      p.lead Votre profil
      hr.my-4
      .media
        img.size_avatar.align-self-center.rounded-circle.mr-3
      form(method='post', action='/profile')
        .form-group
          label(for='userpseudo') Changer votre pseudo 
          input#userpseudo.form-control(type='text', name='userpseudo', placeholder= pseudo)
        .form-group
          label(for='usermail') Changer votre adresse mail
          input#usermail.form-control(type='email', name='usermail', placeholder = mail)
        .form-group
          label(for='userpassword') Changer votre mot de passe
          input#useractualpassword.form-control(type='password', placeholder='Mot de passe actuel', name='useractualpassword')
          input#userpassword.form-control(type='password', placeholder='Nouveau mot de passe', name='userpassword')
        button.btn.btn-primary.btn-dark(type='submit') Sauvegarder les changements
    footer.page-footer.myfooter
      .footer-copyright.text-center.py-3
        | © 2019 Copyright: Projet web - Eddy ABADA - Alain NGUYEN - Dhafer GUESMI - Joël BLANCHET
