doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/style.css')
    title Bienvenue !
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      span.navbar-brand.mb-0.h1 EasyToDoList
    .jumbotron
      p.lead Bienvenue #{pseudo} !
      hr.my-4
      p
        | Un email vous serez envoyé sous peu avec le récapitulatif de vos informations d'inscriptions. Nous sommes heureux de vous compter parmis nos nouveaux membres ! Bonne navigation sur EasyToDoList ;)
      a(href='/') Connectez-vous
        |  ! 
    footer.page-footer.myfooter
      .footer-copyright.text-center.py-3
        | © 2019 Copyright: Projet web - Eddy ABADA - Alain NGUYEN - Dhafer GUESMI - Joël BLANCHET
