body{
    height: 100%;

}
html{
    background-color: rgb(233, 236, 239);
}

.ia{
    padding-right: 5px;
}

.header{
    position: fixed;
    width: 100%;
}

.jumbotron{
    text-align: center;
    padding-right: 15rem;
    padding-left: 15rem;
    padding-bottom: 0;
    margin-bottom: -25px;
}

.myfooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(52, 58, 64);
    color: white;
}

.form_element{
    justify-content: center;
}


.board{
    background-color: rgb(233, 236, 239);
    padding-top: 0.5em;
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
}

.colonne_taches{
    margin: 0;
    width: 50%;
}

.colonne_listes{
    width: 25%;
}

.colonne_description{
    width: 25%;
    padding-left: 0.5em;
}

.form-group{
    margin-bottom: 0;
}

.btn-ajout-liste, .btn-ajout-tache{
    margin-left : 0.5em;
}


.lien
{
	margin-top:1em;
	margin-bottom:0;
	text-align:left;
}

.lien a
{
	color:rgb(0,0,0);
	text-decoration:none;
}

.infos_connexion
{
    float:right;
	width:35em;
	height:5em;
}

.size_avatar{
    width: 64px;
    height: 64px;
}

.media{
    justify-content: center;
}

.linkList{
    display: block;
}

.linkTask{
    display: block;
}